---
import Button from "src/components/Button.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <div class="items-center flex justify-center w-full h-full">
    <Button
      text={"START GAME"}
      href={"/start"}
      transition:name="start"
      transition:animate={"initial"}
    />
  </div>
</Layout>
