---
import Button from "src/components/Button.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <div class="flex h-full w-full items-center justify-center">
    <Button
      text={"START GAME"}
      href={"/start"}
      transition:name="start"
      transition:animate={"initial"}
    />
  </div>
</Layout>
