---
import Layout from "src/layouts/Layout.astro";

import Countdown from "src/components/Countdown";
---

<script>
  import { navigate } from "astro:transitions/client";

  document.addEventListener("keydown", (e: KeyboardEvent) => {
    if (e.key === "b") {
      navigate("/start");
    }
  });
</script>
<Layout>
  <div class="flex h-screen items-center justify-center content-center">
    <div
      class="rounded outline-2 text-black text-center outline-black outline-offset-12"
    >
      <div class="text-2xl mt-4 mx-4">
        A package will arrive at your doorstep in
      </div>
      <!-- 7200 is 2 hrs in seconds -->
      <Countdown initialTime={7200} client:load />
    </div>
  </div>
</Layout>
