---
import Button from "src/components/Button.astro";
import Layout from "src/layouts/Layout.astro";

import Countdown from "src/components/Countdown";
---

<Layout>
  <div class="flex flex-col text-gray-500 m-4">
    <div class="flex flex-col gap-20">
      <Button text={"CURRENT BALANCE"} hoverEffect={false} />

      <div class="flex flex-col items-center">
        <!-- 7200 is 2 hrs in seconds -->
        <Countdown initialTime={7200} client:load />
      </div>
    </div>

    <div class="flex justify-between w-auto mt-6">
      <Button text="⬅︎ BACK" href={"/start"} />
    </div>
  </div>

  <!-- Client-side script for localStorage -->
  <script>
    document.addEventListener("astro:page-load", () => {
      const input = document.getElementById("amountInput")!;

      // Load saved value
      input.value = localStorage.getItem("balance") || "";

      // Save value on input change
      input.addEventListener("input", function () {
        localStorage.setItem("balance", input.value);
      });
    });
  </script>
</Layout>
