---
import Layout from "src/layouts/Layout.astro";

import Countdown from "src/components/Countdown";
---

<script>
  import { navigate } from "astro:transitions/client";

  document.addEventListener("keydown", (e: KeyboardEvent) => {
    if (e.key === "b") {
      navigate("/start");
    }
  });
</script>
<Layout>
  <div class="flex h-screen content-center items-center justify-center">
    <div
      class="rounded text-center text-black outline-2 outline-offset-12 outline-black"
    >
      <div class="mx-4 mt-4 text-2xl">
        A package will arrive at your doorstep in
      </div>
      <!-- 7200 is 2 hrs in seconds -->
      <Countdown initialTime={7200} client:load />
    </div>
  </div>
</Layout>
